
source/ServerApi/.vs/

source/ServerApi/Common/bin/

source/ServerApi/Common/obj/

source/ServerApi/DAO/bin/

source/ServerApi/DAO/obj/

source/ServerApi/Domain/bin/

source/ServerApi/Domain/obj/

source/ServerApi/GenCode/bin/

source/ServerApi/GenCode/obj/

source/ServerApi/ServerApi/bin/

source/ServerApi/ServerApi/obj/
